@use "../style/fonts" as fonts;
@use "../style/colors.scss" as colors;

$background-light: #fff;
$background-dark: #0a0a0a;
$foreground-light: #171717;
$foreground-dark: #ededed;

html {
  height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: colors.$gray-dark;
  background: white;
  font-family: fonts.$montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: fonts.$bebas-neue;
    color: colors.$purple;
}

p {
    size: 17pt;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
